<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/me.png">
        <p id="about-me">Hi, I am Trayambak. A Software Developer based in Bangalore, Karnataka</p>
    </div>

    {{>footer}}
</body>

</html>